<html>
  <head>
    <title>Todo List</title>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/assets/todo-list.js"></script>﻿
  </head>
  <body>
    <div id="todo-table" class="container">
      <div class="wrapper">
        <div class="title items">
          <h1>GSD Edit List</h1>
        </div>
        <div class="name items">
          <h3>
            Edit your todo items below and click submit.
          </h3>
        </div>
        <div class="list-elements">
          <ul>
              <% for (var i=0; i < todos.length; i++){ %>
                <div class="list-and-buttons">
                  <a href="#" class="reorder-up"><i class="fa fa-angle-up"></i></a>
                  <a href="#" class="reorder-down"><i class="fa fa-angle-down"></i></a>
                  <form class="update-item" action="/edit/<%= todos[i]._id %>" method='POST'>
                    <input type="text" name="updateItem" value="<%= todos[i].item %>" required />
                    <button id="edit" class="woody button" type="submit">Submit</button>
                  </form>
                </div>
              <% } %>
          </ul>
        </div>
      </div>

    </div>
  </body>
</html>
