<html>
  <head>
    <title>Todo List</title>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet">™
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/assets/todo-list.js"></script>﻿
  </head>
  <body>
    <div id="todo-table" class="container">
      <div class="wrapper">
        <div class="title items">
          <h1>GSD List</h1>
        </div>
        <div class="name items">
          <form>
            <input type="text" name="item" placeholder="Add new item..." required />
            <button class="woody button" type="button">Submit</button>
          </form>
        </div>
        <div class="list-elements">
          <ul>
              <% for (var i=0; i < todos.length; i++){ %>
                <li><%= todos[i].item %></li>
              <% } %>
          </ul>
        </div>
      </div>

    </div>
  </body>
</html>
